<div class="col-md-6 offset-md-3">
<h2>Student Register</h2>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label >Enter the id</label>
        <input type="text" class="form-control" id="userid"
        [(ngModel)]="user.id" name="userid">
    </div>
    <div class="form-group">
        <label >Enter the name</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)]="user.name" name="name">
    </div>
    <div class="form-group">
        <label >Enter the technolaogy</label>
        <input type="text" class="form-control" id="tech"
        [(ngModel)]="user.tech" name="tech">
    </div>
    <button class="btn btn-success" type="submit">submit</button>
</form></div>
