<div class="row">
    <div class="col-sm-9">
      <h2>Team</h2>
      <div class="col-md-6 offset-md-3">
      <form>
      <div class="row">
        <div class="col-8 col-sm-6">
            
               <label >Team Name</label>
               <input type="text" class="form-control" id="editVenueName" placeholder="Enter the team Name">
               <label >Image Url</label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Enter team image url">
               <label >No of players</label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Enter No of players">
               <label >Location</label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Enter the Team Location">    
        </div>
        <div class="col-4 col-sm-6">
            <h5>Enter the player details</h5>

            sport person 1
               <label for=""></label>
               <input type="text" class="form-control" id="editVenueName" placeholder="First Name">
               <label for=""></label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Last Name">
               <label for=""></label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Age">
               <label for=""></label>
               <input type="text" class="form-control" id="venueAddress" placeholder="Gender">    
            <button class="btn btn-success" type="submit">Add player</button>
        </div>
      </div></form></div>
    </div>
  </div>
